*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
h1{
    font-family: sans-serif;
    font-size: 2.7em;
    margin: 30px;
}
.eight, .flight{
top: 200px;
position: relative;
background: #FFFFFF;
border: 1px solid #C5D9FF;
box-shadow: 0px 4px 10px rgba(144, 144, 144, 0.25);
border-radius: 20px;
font-family: sans-serif;
font-size: 17px;
width: 30%;
height: 500px;
padding: 30px;
line-height: 30px;
text-align: center;
margin-bottom: 20px;
}
.hotel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.hotels{
top: 20%;
position: relative;
background: #FFFFFF;
border: 1px solid #C5D9FF;
box-shadow: 0px 4px 10px rgba(144, 144, 144, 0.25);
border-radius: 20px;
font-family: sans-serif;
font-size: 17px;
width: 30%;
height: 450px;
padding: 30px;
line-height: 30px;
text-align: center;
}
.ending{
    width: 100%;
    margin-top: 10%;
    overflow-x: hidden;
    height: 100vh;
}
.airline{
    font-size: 2em;
    color: #344d50;
    opacity: 0.8;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;
}
.ending>p{
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    width: 60%;
    position: absolute;
    left: 20%;
    z-index: 1;
    letter-spacing: 0.8px;
}
.plane2{
    position: absolute;
    right: 4.5%;
    width: 60%;
    height: 650px;
    top: 300%;
    transform: rotate(-8deg);
}