*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    margin-right: 20px;
    margin-top: 5px;
    border-bottom: #036674;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#home {
    text-decoration: none;
    color: #036674;
text-transform: capitalize;
margin: 25px;
font-family: 'Roboto', sans-serif;
padding: 10px 30px;
}
#home:hover{
    background: #BDD3FF;
    border: 1px solid rgba(58, 65, 246, 0.82);
    box-shadow: 0px 4px 10px rgba(0, 10, 255, 0.25);
    border-radius: 15px;
    padding: 10px 30px;
}
#home:active{
    background: #BDD3FF;
    border: 1px solid rgba(58, 65, 246, 0.82);
    box-shadow: 0px 4px 10px rgba(0, 10, 255, 0.25);
    border-radius: 15px;
    padding: 10px 30px;  
}
#contacts{
    text-decoration: none;
    color: #036674;
text-transform: capitalize;
margin: 25px;
padding: 10px 30px;
font-family: 'Roboto', sans-serif;
}
#contacts:hover{
    background: #BDD3FF;
    border: 1px solid rgba(58, 65, 246, 0.82);
    box-shadow: 0px 4px 10px rgba(0, 10, 255, 0.25);
    border-radius: 15px;
    padding: 10px 30px;
}
#contacts:active{
    background: #BDD3FF;
    border: 1px solid rgba(58, 65, 246, 0.82);
    box-shadow: 0px 4px 10px rgba(0, 10, 255, 0.25);
    border-radius: 15px;
    padding: 10px 30px;  
}
#about{
    text-decoration: none;
    color: #036674;
text-transform: capitalize;
margin: 25px;
padding: 10px 30px;
font-family: 'Roboto', sans-serif;
}
#about:hover{
    background: #BDD3FF;
    border: 1px solid rgba(58, 65, 246, 0.82);
    box-shadow: 0px 4px 10px rgba(0, 10, 255, 0.25);
    border-radius: 15px;
    padding: 10px 30px;
}
#about:active{
    background: #BDD3FF;
    border: 1px solid rgba(58, 65, 246, 0.82);
    box-shadow: 0px 4px 10px rgba(0, 10, 255, 0.25);
    border-radius: 15px;
    padding: 10px 30px;  
}
#log{
    height: 50px;
    width: 120px;
    left: 0;
    top: 0;
    margin: 20px;
}
#profile{
    display: flex;
    align-items: center;
    flex-direction: row;
}
#prof{
    height: 30px;
    width: 30px;
    margin-right: 4px;
}
#image{
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #868989;
    border-radius: 20px;
    padding: 20px;
    margin-right: 20px;
}
#arrow{
    width: 50px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
}
.prof-drop{
    height: 200px;
    width: 150px;
    border: 1px solid #868989;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
    background-color: white;
}
.prof-arrow{
    font-size: 1.2em;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #868989;
    padding: 6px;
}
.name>p{
font-family: sans-serif;
font-style: normal;
font-size: 13px;
line-height: 21px;
}
.details{
    display: flex;
    border-bottom: 1px solid #868989;
    flex-direction: column;
    padding-left: 40px;
}
.details #link{
text-decoration: none;
font-family: sans-serif;
font-style: normal;
font-size: 12px;
line-height: 21px;
margin: 2px;
color: black;
}
.logout{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.logout>p{
font-family: sans-serif;
font-style: normal;
font-size: 12px;
line-height: 21px;
color: red;
cursor: pointer;
}
.prof-drop.active{
    position: absolute;
    top: 15vh;
    right: 1vw;
    visibility: visible;
    transform: translateY(0);
    transition: 5s ease-in;
}
.prof-drop.inactive{
    visibility: hidden;
    transform: translateY(0);
    transition: 3s ease;
    display: none;

}
#p1, #p2, #p3, #p4, #p5, #p6{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.notifications-drop{
    height: 285px;
    width: 230px;
    border: 1px solid #868989;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
    background-color: white;
    margin-top: 13px;
}
.notifications-drop>div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-direction: row;
    border-bottom: 1px solid #868989;
    font-family: sans-serif;
    font-size: 12px;
}
.notifications-drop>div:hover{
    opacity: 0.8;
    cursor: pointer;
}
.notifications-drop.active{
    position: absolute;
    top: 13vh;
    right: 4vw;
    visibility: visible;
    transform: translateY(0);
    transition: 5s ease-in;
}
.notifications-drop.inactive{
    visibility: hidden;
    transform: translateY(0);
    transition: 3s ease;
    display: none;

}
#notification{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #868989;
    padding: 6px;
    font-family: sans-serif;
    font-size: 20px;
}
.notification>p{
    font-family: sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 21px;
    }
    #final{
        border-bottom: none;
    }

    .col-1{
        width: 8.333%;
    }
    .col-2{
        width: 16.666%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.333%;
    }
    .col-5{
        width: 41.666%;
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: 58.333%;
    }
    .col-8{
        width: 66.666%;
    }
    .col-9{
        width: 75%;
    }
    .col-10{
        width: 83.333%;
    }
    .col-11{
        width: 91.666%;
    }
    .col-12{
        width: 100%;
    }