/* body{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */

h1{
font-family: 'Jost';
font-style: normal;
font-weight: 400;
color: #000000;
justify-content: space-between;
}